<html>
<body>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='opcoes.css') }}">
  <form method="POST" action="/opcoes">
    <div>
      <label for="data">Data:</label>
      <br>
      <input type="text" id="data" placeholder="dd/mm/aa" name="data" size="6">
      <br>
      <label for="destinatario">Destinatário:</label>
      <br>
      <input type="text" id="destinatario" name="destinatario">
      <br>
      <label for="remetente">Remetente:</label>
      <br>
      <input type="text" id="remetente" name="remetente">
      <br>
      <br>
      <br>
      <label for="freeform">Insira sua mensagem:</label>
      <br>
      <textarea id="freeform" name="freeform" rows="6" cols="50"></textarea>
      <br>
      <br>
      <button type="submit" name="botao" value="Enviar">Enviar</button>
    </div>
  </form>
</body>
</html>